/*
Template Name: Medwise
Template URL: http://wwsthemes.com/themes/medwise/v1.4/
Description: HTML5 Bootstrap Medical And Health Template
Version: 1.4
Author: WWS Themes
Author URL: http://wwsthemes.com
*/

/*

    **************MENU**************

    1. Core CSS (html, body, a, hr etc)
    2. Typography (headings, paragraphs, blockquotes etc)
    3. Helper Classes (special classes for ease of use)
    4. General CSS (various elements such as counters, icon boxes etc.)
    5. Blog CSS (blog list, single blog & widgets)
    6. Coming Soon & Not Found (Misc Pages)
    7. Plugins (owl carousel, date picker, bootstrap carousel etc)
    8. Mobile CSS (responsive css for mobile devices)

    */

    /************************/
    /******** 1. Core *******/
    /************************/

    html,body{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    body{
        color: #585858;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }

    a{
        color: #1696e7;
    }

    a:hover, a:focus, a:active:hover{
        text-decoration: none;
        outline: none;
        color: rgba(22,150,231,0.8);
    }

    hr{
        border: 0;
        border-bottom: 1px solid #d5d5d5;
        position: relative;
        margin: 25px auto;
    }

    hr.hr-1{
        border-bottom: 2px solid #1696e7;
        width: 50px;
    }

    hr.hr-1.left{
        margin-left: 0px;
    }

    hr.hr-2{
        border-bottom: 2px solid #fff;
        width: 50px;
    }

    hr.hr-2.left{
        margin-left: 0px;
    }

    hr.hr-or{
        width: 100%;
        border-color: #e5e5e5;
    }

    hr.hr-or:before{
        content: "OR";
        font-weight: 400;
        color: #d5d5d5;
        position: absolute;
        left: 50%;
        top:50%;
        margin-top: -20px;
        margin-left: -20px;
        background-color: #fff;
        display: inline-block;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
    }

    .loader-backdrop{
        position: fixed;
        top:0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 999999;
        background-color: #fff;
    }

    .loader{
        position: absolute;
        border-radius: 100px;
        width: 100px;
        height: 100px;
        top: 50%;
        left: 50%;
        border: 6px solid #f2f2f2;
        border-left: 6px solid #1696e7;
        margin-top: -50px;
        margin-left: -50px;
        -webkit-animation: circle 1.1s infinite linear;
        animation: circle 1.1s infinite linear;
    }

    @-webkit-keyframes circle {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}

/***************************/
/****** 2. Typography ******/
/***************************/

h1, h2, h3, h4, h5, h6{
    font-family: 'Volkhov', serif;
    color: #1a1a1a;
    text-transform: capitalize;
    margin-top: 0em;
    margin-bottom: 0.8em;
    line-height: 1.2;
}

h1{font-size: 38px;}
h2{font-size: 32px;}
h3{font-size: 26px;}
h4{font-size: 20px;}
h5{font-size: 16px;}
h6{font-size: 14px;}

.h1 .small, .h1 small,
.h2 .small, .h2 small,
.h3 .small, .h3 small,
.h4 .small, .h4 small,
.h5 .small, .h5 small,
.h6 .small, .h6 small,
h1 .small, h1 small,
h2 .small, h2 small,
h3 .small, h3 small,
h4 .small, h4 small,
h5 .small, h5 small,
h6 .small, h6 small
{
    color: #aaa;
}

.heading{
    font-weight: 400;
}

.heading-block{
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}

.heading-block:before{
    content: "";
    position: absolute;
    height: 6px;
    width: 50px;
    bottom: -2px;
    left: 50%;
    background-color: #1696e7;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2;
}

.heading-block .heading{
    margin-bottom: 0px;
}

.heading-block .sub-heading{
    display: block;
    text-align: center;
    margin: 18px auto 18px auto;
    color: #585858;
    max-width: 750px;
    line-height: 28px;
    text-transform: none;
    font-weight: 300;
    padding: 16px 0px;
    position: relative;
}

.heading-block .sub-heading:before{
    content: "";
    position: absolute;
    top:0px;
    left: 50%;
    height: 6px;
    width: 90%;
    background-color: #f2f2f2;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.heading-block .sub-heading:after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    height: 6px;
    width: 90%;
    background-color: #f2f2f2;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.heading-block.inverse .heading,
.heading-block.inverse .sub-heading{
    color: #fff;
}

p{
    font-size: 15px;
    display: block;
    line-height: 2em;
}

address{
    font-size: 15px;
    line-height: 28px;
}

address strong{
    font-size: 1.2em;
    font-weight: 400;
}

blockquote{
    padding: 20px;
    background-color: #f7f7f7;
    border-color: #1696e7;
    border-width: 3px;
}

blockquote:before{
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f10d";
    color: #1696e7;
    height: 50px;
    width: 50px;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
}

.blockquote-reverse, blockquote.pull-right{
    padding: 20px;
    border-width: 3px;
    border-color: #1696e7;
}

blockquote p{
    font-size: 16px;
    font-style: italic;
    letter-spacing: 0.02em;
    margin-top: 8px;
}

blockquote footer{
    color: #1696e7;
    font-size: 13px;
    margin-top: 20px;
    text-align: right;
}

/*******************************/
/****** 3. Helper Classes ******/
/*******************************/

.thin{font-weight:300;}     /* Font weight can be chosen */
.normal{font-weight:400;}
.bold{font-weight:700;}

.font-1{font-family: 'Volkhov', serif;}
.font-2{font-family: 'Open Sans', sans-serif;}

.font16{font-size: 16px;}   /* Various Font Size Classes can applied */
.font18{font-size: 18px;}
.font20{font-size: 20px;}
.font22{font-size: 22px;}
.font24{font-size: 24px;}
.font26{font-size: 26px;}
.font28{font-size: 28px;}
.font30{font-size: 30px;}
.font32{font-size: 32px;}
.font34{font-size: 34px;}
.font36{font-size: 36px;}

.color1{color: #1696e7 !important;}     /* Blue Color */
.color2{color: #f7f7f7 !important;}     /* Light Grey Color */
.color3{color: #303b41 !important;}     /* Dark Color */
.inverse{color: #fff !important;}       /* White Color */

.bgcolor1{background-color: #1696e7;}     /* Blue Color Background */
.bgcolor2{background-color: #f7f7f7;}     /* Yellow Color Background */
.bgcolor3{background-color: #303b41;}     /* Dark Color Background */
.bginverse{background-color: #fff}        /* White Color Background */

.nom{margin:0;}                                 /* No Margin */
.nom-tb{margin-top: 0; margin-bottom: 0;}       /* No Margin on Top and Bottom */
.nop, .no-gutter{padding:0 !important;}         /* No Padding */
.nop-tb{padding-top: 0; padding-bottom: 0;}     /* No Padding on Top and Bottom */

.mt-0{margin-top:0px;}        /* Margin Top Classes */
.mt-20{margin-top:20px;}
.mt-40{margin-top:40px;}
.mt-60{margin-top:60px;}
.mt-80{margin-top:80px;}
.mt-100{margin-top:100px;}

.mb-0{margin-top:0px;}        /* Margin Bottom Classes */
.mb-20{margin-bottom:20px;}
.mb-40{margin-bottom:40px;}
.mb-60{margin-bottom:60px;}
.mb-80{margin-bottom:80px;}
.mb-100{margin-bottom:100px;}

.ml-0{margin-left:0px;}        /* Margin Left Classes */
.ml-20{margin-left:20px;}
.ml-40{margin-left:40px;}
.ml-60{margin-left:60px;}
.ml-80{margin-left:80px;}
.ml-100{margin-left:100px;}

.mr-0{margin-right:0px;}        /* Margin Right Classes */
.mr-20{margin-right:20px;}
.mr-40{margin-right:40px;}
.mr-60{margin-right:60px;}
.mr-80{margin-right:80px;}
.mr-100{margin-right:100px;}

.pt-0{padding-top:0px;}       /* Padding Top Classes */
.pt-20{padding-top:20px;}
.pt-40{padding-top:40px;}
.pt-60{padding-top:60px;}
.pt-80{padding-top:80px;}
.pt-100{padding-top:100px;}

.pb-0{padding-bottom:0px;}       /* Padding Bottom Classes */
.pb-20{padding-bottom:20px;}
.pb-40{padding-bottom:40px;}
.pb-60{padding-bottom:60px;}
.pb-80{padding-bottom:80px;}
.pb-100{padding-bottom:100px;}

.pl-0{padding-left:0px;}       /* Padding Left Classes */
.pl-20{padding-left:20px;}
.pl-40{padding-left:40px;}
.pl-60{padding-left:60px;}
.pl-80{padding-left:80px;}
.pl-100{padding-left:100px;}

.pr-0{padding-right:0px;}       /* Padding Right Classes */
.pr-20{padding-right:20px;}
.pr-40{padding-right:40px;}
.pr-60{padding-right:60px;}
.pr-80{padding-right:80px;}
.pr-100{padding-right:100px;}

.p20,
.p40,
.p60,
.p80,
.p100{padding:40px;}     /* Padding remains 40px on Mobile Devices. For larger screens, padding values are provided in Responsive CSS */

.text-muted{color: rgba(255, 255, 255, 0.8);}
.text-primary{color: #1696e7;}
.text-success{color: #41c741;}
.text-info{color: #00c4ff;}
.text-warning{color: #ffc800;}
.text-danger{color: #e62c22;}

.bg-primary{background-color: #1696e7; color: #fff; padding:0px 5px;}
.bg-success{background-color: #41c741; color: #fff; padding:0px 5px;}
.bg-info{background-color: #00c4ff; color: #fff; padding:0px 5px;}
.bg-warning{background-color: #ffc800; color: #fff; padding:0px 5px;}
.bg-danger{background-color: #e62c22; color: #fff; padding:0px 5px;}

.xs-center, .sm-center, .md-center, .lg-center{     /* Center Text Based On Device Width */
    display: block;
    text-align: center;
}

.justify{text-align:justify;}

.lead{font-size: 19px; line-height: 1.55em;}

/*******************************/
/********* General CSS *********/
/*******************************/

/* Header Version 1 */

.header-1 .emergency{
    display: inline-block;
    text-align: center;
    padding: 18px 0px 18px 0px;
}

.header-1 .emergency i{
    font-size: 62px;
    color: #1696e7;
    float: left;
    margin-right: 10px;
    line-height: 60px;
}

.header-1 .emergency .number{
    color: #1a1a1a;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}

.header-1 .emergency .sub-text{
    font-size: 13px;
    color: #c5c5c5;
    text-transform: uppercase;
}

.header-1 .topbar{
    background-color: #1696e7;
}

.header-1 .topbar .contact{
    list-style: none;
    padding: 0px;
    overflow: hidden;
    float: right;
    margin: 0px;
}

.header-1 .topbar .contact li{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    padding: 6px 0px;
}

.header-1 .topbar .contact li:first-child{
    padding-left: 0px;
}

.header-1 .topbar .contact li span{
    font-weight: bold;
}

.header-1 .topbar .social > li{
    position: relative;
    padding: 3px;
    margin: 0px;
}

.header-1 .topbar .contact,
.header-1 .topbar .social{
    width: 100%;
    text-align: center;
}

/* Header Version 2 */

.header-2 .topbar{
    background-color: #1696e7;
}

.header-2 .navbar-default .navbar-nav>li>a.btn-emergency{
    position: relative;
    background-color: #1696e7;
    padding: 10px 20px;
    color: #fff;
    margin-top: 15px;
    line-height: 27px;
    border-radius: 4px;
    z-index: 1;
}

.header-2 .navbar-default .navbar-nav>li>a.btn-emergency:before{
    content: "";
    position: absolute;
    left: 0px;
    top:0px;
    background-color: #000;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition:350ms ease all;
    transition: 350ms ease all;
    z-index: -1;
}


.header-2 .navbar-default .navbar-nav>li>a.btn-emergency:hover:before,
.header-2 .navbar-default .navbar-nav>li>a.btn-emergency:active:before,
.header-2 .navbar-default .navbar-nav>li>a.btn-emergency:focus:before,
.header-2 .navbar-default .navbar-nav>li>a.btn-emergency:active:hover:before,
.header-2 .navbar-default .navbar-nav>li>a.btn-emergency:hover:active:before{
    opacity: 0.1;
}

.header-2 .navbar-default .navbar-nav>li>a.btn-emergency:hover>i{
    color: #fff;
}

.header-2 .navbar-default .navbar-nav>li>a.btn-emergency:after{
    display: none;
}

.header-2 .topbar .contact{
    list-style: none;
    padding: 0px;
    overflow: hidden;
    margin: 0px;
    float: right;
}

.header-2 .topbar .contact li{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    padding: 6px 0px;
}

.header-2 .topbar .contact li:first-child{
    padding-left: 0px;
}

.header-2 .topbar .contact li span{
    font-weight: bold;
}

.header-2 .topbar .social > li{
    position: relative;
    padding: 3px;
    margin: 0px;
}

.header-2 .topbar .contact,
.header-2 .topbar .social{
    width: 100%;
    text-align: center;
}

/* Header Version 3 */

.header-3{
    position: relative;
    width: 100%;
}

.header-3 .emergency{
    display: inline-block;
    text-align: center;
    padding: 18px 0px 18px 0px;
}

.header-3 .emergency i{
    font-size: 58px;
    color: #fff;
    float: left;
    margin-right: 10px;
}

.header-3 .emergency .number{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}

.header-3 .emergency .sub-text{
    font-size: 13px;
    color: #f7f7f7;
    text-transform: uppercase;
}

.header-3 .topbar{
    position: relative;
    background-color: #303b41;
}

.header-3 .topbar .contact{
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
}

.header-3 .topbar .contact li{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    padding: 6px 0px;
}

.header-3 .topbar .contact li:first-child{
    padding-left: 0px;
}

.header-3 .topbar .contact li span{
    font-weight: bold;
}

.header-3 .topbar .social > li{
    position: relative;
    padding: 3px;
    margin: 0px;
}

.header-3 .topbar .social > li > a{
    background-color: transparent;
}

.header-3 .topbar .social > li > a:hover{
    background-color: #1696e7;
}

.header-3 .topbar .contact,
.header-3 .topbar .social{
    width: 100%;
    text-align: center;
}

/* OPD Scheduler */

.career-box{
    background-color: #fff;
    padding: 20px;
    overflow: hidden;
    border: 6px solid #f2f2f2;
    margin: 20px 0px;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.career-box .heading{
    color: #1696e7;
}

.career-box .slots{
    overflow: hidden;
}

.career-box .slots .heading{
    color: #303b41;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.career-box .slots ul{
    list-style: none;
    padding: 0px;
}

.career-box .slots ul li{
    float: left;
    padding: 3px 5px;
    border: 1px solid #1696e7;
    margin: 0px 5px 5px 0px;
    font-size: 12px;
    font-weight: 400;
    color: #1696e7;
    border-radius: 2px;
}

.career-box .info p{
    margin-top: 15px;
    font-size: 14px;
    text-align: justify;
}

.career-box:hover{
    border-color: #1696e7;
}

/* Slider Box */

.slider-box-appointment{
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(22,150,231,0.80);
    padding: 40px 25px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
    margin:20px 0px;
}

.slider-box-appointment .header{
    margin-bottom: 20px;
}

.slider-box-appointment .header .heading{
    margin-bottom: 0px;
    color: #fff;
    font-weight: 300;
}

.slider-box-appointment .body .text-muted{
    font-size: 13px;
}

/* Quick Appointment */

.quick-appointment-form{
    background-color: #1696e7;
    padding: 50px;
}

/* Fixed Appointment */

#fixed-appointment{
    position: fixed;
    bottom: 0px;
    right: 50px;
    width: 300px;
    display: none;
    z-index: 99;
}

#fixed-appointment .form-header{
    background-color: #1696e7;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#fixed-appointment .form-header .heading{
    margin: 0px;
    color: #fff;
    padding: 12px 20px;
}

#fixed-appointment .form-body{
    background-color: #f5f5f5;
    display: none;
}

#fixed-appointment .form-body form{
    padding: 20px;
}

/* Icon Boxes */

.iconbox-1{
    text-align: center;
    margin: 20px 0px;
}

.iconbox-1 > .iconbox-icon i{
    display: inline-block;
    font-size: 30px;
    color: #1696e7;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    line-height: 90px;
    text-align: center;
    background-color: #f2f2f2;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.iconbox-1 > .iconbox-icon{
    position: relative;
    display: inline-block;
}

.iconbox-1 > .iconbox-icon:before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border: 2px solid #1696e7;
    border-radius: 50%;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.iconbox-1 > .iconbox-content{
    margin-top: 30px;
    display: inline-block;
}

.iconbox-1 > .iconbox-content p{
	margin:0px;
}

.iconbox-1:hover .iconbox-icon i{
    background-color: #1696e7;
    color: #fff;
}

.iconbox-1:hover .iconbox-icon:before{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.iconbox-2{
    margin:20px 0px;
    padding: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.iconbox-2 .heading{
    color: #1696e7;
    margin-bottom: 10px;
}

.iconbox-2 > .iconbox-icon > i{
    font-size: 36px;
    color: #1696e7;
    display:inline-block;
    -webkit-transition: 200ms ease all;
    transition: 200ms ease all;
}

.iconbox-2 > .iconbox-icon,
.iconbox-2 > .iconbox-content{
    display: table-cell;
    vertical-align: middle;
}

.iconbox-2 > .iconbox-content{
    margin-top: 20px;
    padding-left: 20px;
}

.iconbox-2 > .iconbox-content p{
    margin: 0px;
}

.iconbox-2:hover > .iconbox-icon > i{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.iconbox-2:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.20);
}

.iconbox-3{
    position: relative;
    text-align: center;
    margin: 20px 0px;
}

.iconbox-3 > .heading{
    color: #fff;
}

.iconbox-3 > .iconbox-icon{
    display: inline-block;
    margin-bottom: 20px;
}

.iconbox-3 > .iconbox-icon i{
    height: 100px;
    width: 100px;
    line-height: 90px;
    text-align: center;
    color: #fff;
    font-size: 35px;
    border: 8px solid #1696e7;
    border-radius: 50px;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.iconbox-3 > p{
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.iconbox-3:hover > .iconbox-icon i{
    border-color: transparent;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.iconbox-4{
    position: relative;
    text-align: center;
    background-color: #1696e7;
    margin:20px 0px;
}

.iconbox-4 .heading{
    color: #fff;
}

.iconbox-4 i{
    color: #fff;
    display: inline-block;
    font-size: 60px;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.iconbox-4 p{
    color: rgba(255, 255, 255, 0.80);
    margin: 0px;
}

.iconbox-4:hover i{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/* Department Box */

.department-box-1{
    position: relative;
    background-color: #f7f7f7;
    overflow: hidden;
    padding: 50px 25px;
    margin: 20px 0px;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.department-box-1 i{
    font-size: 60px;
    text-align: center;
    color: #fff;
    background-color: #1696e7;
    height: 90px;
    width: 90px;
    line-height: 90px;
    border-radius: 4px;
    display: inline-block;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.department-box-1 .heading{
    color: #1696e7;
    font-weight: bold;
    line-height: 37px;
    margin-top: 20px;
}

.department-box-1:hover{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15)
}

.department-box-2{
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 6px solid #f2f2f2;
    margin: 20px 0px;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.department-box-2 .head{
    position: relative;
    padding: 20px;
    border-bottom: 0px;
}

.department-box-2 .head .heading{
    font-size: 30px;
    color: #1696e7;
    margin: 20px 0px 0px;
}

.department-box-2 .head i{
    font-size: 48px;
    color: #1696e7;
    height: 100px;
    width: 100px;
    background-color: #f2f2f2;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.department-box-2 .body{
    padding: 20px;
    border-top: 0px;
}

.department-box-2:hover{
    border-color: #1696e7;
}

.department-box-2:hover .head i{
    background-color: #1696e7;
    color: #fff;
}

.department-box-3{
    margin: 20px 0px;
}

.department-box-3 i{
    display: inline-block;
    color: #fff;
    font-size: 60px;
    height: 100px;
    width: 100px;
    line-height: 98px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.department-box-3:hover i{
    background-color: rgba(255, 255, 255, 0.1);
}

.department-box-3 a{
    color: #fff;
}

.department-list{
    list-style: none;
    padding: 0px;
}

.department-list li{
    margin: 20px 0px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
}

.department-list li > a{
    display: block;
}

.department-list li .list-icon, 
.department-list li .list-text{
    display: table-cell;
    vertical-align: middle;
    padding: 10px 15px;
}

.department-list li .list-icon{
    color: #fff;
    background-color: #1696e7;
}

.department-list li .list-icon i{
    font-size: 40px;
}

/* Offer Box */

.offer-box{
    border: 2px dashed #e5e5e5;
    padding: 15px;
    background-color: #fff;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
    margin: 20px 0px;
}

.offer-box .offer-header{
    padding-bottom: 10px;
    border-bottom: 1px dashed #e5e5e5;
}

.offer-box .offer-header .heading{
    margin-bottom: 0.1em;
    font-size: 28px;
}

.offer-box .offer-header span{
    text-transform: uppercase;  
}

.offer-box .offer-body{
    padding-top: 10px;
}

.offer-box:hover{
    border-style: solid;
    background-color: #f9f9f9;
}

/* Doctor Box */

.doctor-box-1{
    position: relative;
    margin: 20px 0px;
}

.doctor-box-1 img{
    margin:auto;
}

.doctor-box-1:before{
    content: "";
    position: absolute;
    left: 0;
    top:10%;
    width: 100%;
    height: 70%;
    border: 5px solid #f7f7f7;
    border-bottom: 0px;
    z-index: -1;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.doctor-box-1 .doctor-details{
    position: absolute;
    top: 80%;
    text-align: center;
    width: 100%;
    background-color: #1696e7;
    padding: 10px 0px;
    border: 5px solid #f7f7f7;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.doctor-box-1 .doctor-details .doctor-name{
    margin: 0px;
    color: #fff
}

.doctor-box-1 .doctor-details .doctor-desig{
    color: #fff;
    font-size: 13px;
}

.doctor-box-1 .doctor-social{
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    top: 80%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.doctor-box-1:hover:before{
    height: 55%;
    border-color: #1696e7;
}

.doctor-box-1:hover .doctor-details{
    top: 65%;
    border-color: #1696e7;
}

.doctor-box-1:hover .doctor-social{
    opacity: 1;
    visibility: visible;
}

.doctor-box-2{
    padding: 20px;
    border: 6px solid #f2f2f2;
    margin: 20px 0px;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.doctor-box-2 .doctor-img{
    position: relative;
    text-align: center;
}

.doctor-box-2 .doctor-img img{
	max-width:100%;
}

.doctor-box-2 .doctor-name{
    text-align: center;
    margin-top: 20px;
}

.doctor-box-2 .doctor-name .heading{
    color: #1696e7;
}

.doctor-box-2 .doctor-details{
    margin-top: 15px;
}

.doctor-box-2 .doctor-name .doctor-desig{
    display: block;
    margin-top: 10px;
}

.doctor-box-2:hover{
    border-color: #1696e7;
}

.doctor-box-3{
    border: 6px solid #f2f2f2;
    padding: 10px;
    margin: 20px 0px;
    background-color: #fff;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.doctor-box-3 .doctor-img,
.doctor-box-3 .doctor-detail{
    display: table-cell;
    vertical-align: middle;
}

.doctor-box-3 .doctor-img{
    max-width: 100px;
}

.doctor-box-3 .doctor-detail{
    padding-left: 20px;
}

.doctor-box-3 .doctor-detail .heading{
    color: #1696e7;
}

.doctor-box-3 .doctor-detail .time{
    display: block;
    margin-top: 10px;
}

.doctor-box-3 .doctor-detail .time i{
    color: #1696e7;
    margin-right: 5px;
}

.doctor-box-3:hover{
    border-color: #1696e7;
}

/* Doctor Single */

.doctor-single .doctor-details .doctor-name{
    margin-bottom: 10px;
}

.doctor-single .doctor-details .doctor-desig{
    color: #1696e7;
}

.doctor-single .doctor-details .doctor-edu{
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.doctor-single .doctor-details .doctor-edu li{
    float: left;
    margin-right: 10px;
    background-color: #f2f2f2;
    padding: 3px 10px;
    font-weight: 400;
    border-radius: 4px;
}

.doctor-single .doctor-contact{
    background-color: #1696e7;
    padding: 20px;
    color: #fff;
    text-align: center;
    margin-bottom:20px;
}

.doctor-single .doctor-contact .contact-list{
    display: inline-block;
    text-align: left;
    margin-bottom: 0px;
}

/* Department Single */

.department-header .department-details{
    position: relative;
    background-color: #fff;
    overflow: hidden;
    padding-right: 20px;
}

.department-header .department-details .department-loc{
    color: #1696e7;
}

/* Schedule Table */

.table-schedule{
    width: 100%;
    background-color: #1696e7;
}

.table-schedule td{
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    height: 80px;
    color: #fff;
    padding: 14px;
    position: relative;
}

.table-schedule thead th{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.table-schedule thead th .date,
.table-schedule thead th .day{
    display: block;
}

.table-schedule thead th .date{
    color: #fff;
    font-size: 38px;
    font-weight: 300;
    line-height: 52px;
}

.table-schedule thead th .day{
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.table-schedule tbody tr td:first-child{
    font-size: 20px;
    text-align: center;
    color: #fff;
    line-height: 20px;
}

.table-schedule tbody tr td:first-child span{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

.table-schedule tbody td .time{
    color: rgba(255, 255, 255, 0.8);
}

.table-schedule tbody td.light{
    background-color: rgba(255, 255, 255, 0.2);
}

.table-schedule tbody td.dark{
    background-color: rgba(0, 0, 0, 0.1);
}

.table-schedule tbody td .book{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top:0px;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.table-schedule tbody td:hover .book{
    opacity: 1;
    visibility: visible;
}

.table-schedule tbody td .book .btn{
    position: absolute;
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Mini Schedule Table */

.table-schedule-mini img{
    max-width: 65px;
    max-width: 65px;
}

.table-schedule-mini>tbody>tr>td,
.table-schedule-mini>tbody>tr>th,
.table-schedule-mini>tfoot>tr>td,
.table-schedule-mini>tfoot>tr>th,
.table-schedule-mini>thead>tr>td,
.table-schedule-mini>thead>tr>th{
    vertical-align: middle;
}

.table-schedule-mini>tbody>tr{
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.table-schedule-mini>tbody>tr:hover{
    background-color: #f5f5f5;
}

/* Pricing Table */

.pricing-box-1{
    position: relative;
    border: 6px solid #f2f2f2;
    padding: 35px 0px;
    margin:20px 0px;
    text-align: center;
    overflow: hidden;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.pricing-box-1 .header{
    padding: 0px 20px;
}

.pricing-box-1 .header .heading{
    color: #1696e7;
    margin-bottom: 0px;
    font-size: 30px;
}

.pricing-box-1 .price{
    margin-top: 15px;
}

.pricing-box-1 .price span{
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
}

.pricing-box-1 .price span:first-child{
    font-size: 36px;
    color: #303b41;
    border-radius: 3px;
    margin-right: 5px;
}

.pricing-box-1 .price span:first-child small{
    font-size: 18px;
}

.pricing-box-1 .body{
    position: relative;
    margin-bottom: 20px;
}

.pricing-box-1 .body .features{
    padding: 0px 25px;
}

.pricing-box-1 .body .features ul{
    list-style: none;
    padding: 0px;
    text-align: left;
    margin-bottom: 25px;
}

.pricing-box-1 .body .features ul li{
    position: relative;
    padding: 15px 10px 15px 25px;
    border-bottom: 1px solid #f2f2f2;
    font-size: 14px;
}

.pricing-box-1 .body .features ul li:last-child{
    border-bottom: 0px;
}

.pricing-box-1 .body .features ul li strong{
    display: block;
}

.pricing-box-1 .body .features ul li span{
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
}

.pricing-box-1 .body .features ul li:before{
    font: normal normal normal 8px/1 FontAwesome;
    content: "\f10c";
    color: #1696e7;
    position: absolute;
    top: 20px;
    left: 2px;
    font-weight: 600;
}

.pricing-box-1:hover{
    border-color: #1696e7;
}

.pricing-box-1.popular{
    border-color: #1696e7;
    padding: 45px 0px;
    margin-top: 10px;
}

.pricing-box-1.popular:before{
    content: "Popular";
    position: absolute;
    left: -30px;
    top: 10px;
    background-color: #1696e7;
    color: #fff;
    font-size: 12px;
    padding: 5px 50px;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

.pricing-box-2{
    border: 6px solid #f2f2f2;
    padding: 20px;
    position: relative;
    overflow: hidden;
    margin: 20px 0px;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.pricing-box-2 .header{
	padding-left:30px;
}

.pricing-box-2 .header,
.pricing-box-2 .body{
    vertical-align: middle;
}

.pricing-box-2 .header .heading{
    margin-bottom: 0px;
    color: #1696e7;
}

.pricing-box-2 .price{
    margin-top: 15px;
}

.pricing-box-2 .price span{
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
}

.pricing-box-2 .price span:first-child{
    font-size: 36px;
    color: #303b41;
    border-radius: 3px;
    margin-right: 5px;
    display: block;
}

.pricing-box-2 .price span:first-child small{
    font-size: 18px;
}

.pricing-box-2 .body{
    position: relative;
    width: 100%;
}

.pricing-box-2 .body .features{
    padding-left: 30px;
}

.pricing-box-2 .body .features ul{
    list-style: none;
    padding: 0px;
    text-align: left;
    margin-bottom: 0px;
}

.pricing-box-2 .body .features ul li{
    position: relative;
    padding: 15px 10px 15px 25px;
    border-bottom: 1px solid #f2f2f2;
    font-size: 14px;
}

.pricing-box-2 .body .features ul li:last-child{
    border-bottom: 0px;
}

.pricing-box-2 .body .features ul li strong{
    display: block;
}

.pricing-box-2 .body .features ul li span{
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
}

.pricing-box-2 .body .features ul li:before{
    font: normal normal normal 8px/1 FontAwesome;
    content: "\f10c";
    color: #1696e7;
    position: absolute;
    top: 20px;
    left: 2px;
    font-weight: 600;
}

.pricing-box-2:hover{
    border-color: #1696e7;
}

.pricing-box-2.popular{
    border-color: #1696e7;
}

.pricing-box-2.popular:before{
    content: "Popular";
    position: absolute;
    left: -80px;
    top: 6px;
    background-color: #1696e7;
    color: #fff;
    font-size: 12px;
    padding: 5px 100px;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

/* Feature Box */

.feature-box{
    padding: 20px 0px;
}

.feature-box.left{
    text-align: right;
}

.feature-box.right{
    text-align: left;
}

.feature-box.left .text{
    padding-right: 60px;
}

.feature-box.right .text{
    padding-left: 60px;
}

.feature-box .count{
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 36px;
    text-align: center;
    font-size: 20px;
    color: #1696e7;
    background-color: #fff;
    border:2px solid #1696e7;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(0,0, 0, 0.2);
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.feature-box:hover .count{
    background-color: #1696e7;
    color: #fff;
}

.feature-box.left .count{
    float: right;
}

.feature-box.right .count{
    float: left;
}

/* FAQ Box */

.faq{
    background-size: cover;
}

.faq-box{
    margin: 20px 0px;
}

.faq-box .faq-header{
    position:relative;
    padding: 15px 20px 15px 50px;
    background-color: #fff;
    margin-bottom: 4px;
    border-left: 3px solid #1686e7;
}

.faq-box .faq-header .heading{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.faq-box .faq-header:before{
    content: "Q";
    font-family: 'Volkhov', serif;
    position: absolute;
    font-weight: 600;
    left: 10px;
    top:8px;
    font-size: 35px;
    color: #1696e7;
}

.faq-box .faq-body{
    position: relative;
    background-color: #fff;
    padding: 15px 20px 15px 50px;
    border-left: 3px solid #d5d5d5;
}

.faq-box .faq-body p{
    margin: 0px;
}

.faq-box .faq-body:before{
    content: "A";
    font-family: 'Volkhov', serif;
    position: absolute;
    font-weight: 600;
    left: 10px;
    top:8px;
    font-size: 35px;
    color: #d5d5d5;
}

/* Call Out */

.call-out-1{
    position: relative;
}

.call-out-1:before, 
.call-out-1:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    top:0px;
    z-index: -1;
}

.call-out-1:before{
    background-color: #1696e7;
    left: 0px;
}

.call-out-1:after{
    background-color: #303b41;
    left: 0px;
    width:100%;
}

.call-out-1 .left,
.call-out-1 .right{
	text-align:center;
}

.call-out-1 .right .call-us{
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    line-height: 34px;
}

.call-out-1 .right i{
    font-size: 82px;
    color: #1696e7;
    padding: 0px 20px;
}

.call-out-1 .right i,
.call-out-1 .right .call-us{
	display:block;
}

.call-out-1 .right .call-us strong{
    line-height: 20px;
    vertical-align: top;
}

.call-out-2{
    display: table;
    margin: 0px auto;
}

.call-out-2 i,
.call-out-2 .call-us{
    display: table-cell;
    vertical-align: middle;
}

.call-out-2 i{
    font-size: 90px;
    padding-right: 20px;
    color: #fff;
}

.call-out-2 .call-us{
    font-size: 40px;
    font-weight: 600;
    text-align: left;
    color: #fff;
    line-height: 34px;
}

.call-out-2 .call-us strong{
    vertical-align: top;
    line-height: 20px;
}

/* Process */

.process-box-1{
    position: relative;
    text-align: center;
    margin: 20px 0px;
}

.process-box-1 .process-box-header{
    position: relative;
    padding-bottom: 40px;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.process-box-1 .process-box-header .count{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: #1696e7;
    padding: 6px;
    border-bottom-right-radius: 5px;
    margin: 0px auto;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.process-box-1 .process-box-header .count span{
    font-family: 'Volkhov', serif;
    color: #1696e7;
    font-size: 40px;
    line-height: 80px;
    background-color: #fff;
    height: 100%;
    width: 100%;
    text-align: center;
    display: block;
    border-radius: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.process-box-1 .process-box-body{
    position: relative;
    padding: 20px 20px 0px 20px;
    border-top: 1px dashed #e5e5e5;
}

.process-box-1 .process-box-body:before{
    content: "";
    position: absolute;
    top:-6px;
    left: 50%;
    height: 12px;
    width: 12px;
    background-color: #1696e7;
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.process-box-1 .process-box-body p{
    margin-bottom: 0px;
}

.process-box-1:hover .process-box-header{
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

/* Counters */

.counter-box-1{
    margin: 20px 0px;
    color: #303b41;
    text-align: center;
}

.counter-box-1 .fact-count{
    font-family: 'Volkhov', serif;
    font-size: 30px;
    letter-spacing: 2px;
    display: inline-block;
    height: 100px;
    width:100px;
    background-color: #1696e7;
    margin-bottom: 20px;
    color: #fff;
    line-height: 100px;
    text-align: center;
    border-radius: 50%;
}

.counter-box-2{
    text-align: center;
    margin: 20px 0px;
    background-color: #f7f7f7;
    padding: 40px 20px;
    border-radius: 4px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}

.counter-box-2 .fact-count{
    font-family: 'Volkhov', serif;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 2px;
    display: inline-block;
    margin-bottom: 20px;
    color: #1696e7;
    text-align: center;
}

.counter-box-2 .heading{
    margin: 0px;
}

.counter-box-3{
    text-align: center;
    margin: 20px 0px;
}

.counter-box-3 .heading{
    color: #fff;
    margin: 0px;
}

.counter-box-3 .fact-count{
    font-family: 'Volkhov', serif;
    font-size: 42px;
    letter-spacing: 2px;
    line-height: 38px;
    color: #1696e7;
    text-align: center;
    margin-bottom: 10px;
    display: inline-block;
}

.counter-box-4{
    margin: 20px 0px;
}

.counter-box-4 .fact-icon i{
    color: #fff;
    font-size: 22px;
    background-color: #303b41;
    height: 50px;
    width: 50px;
    line-height: 48px;
    text-align: center;
    margin: auto;
    border-radius: 50%;
}

.counter-box-4 .fact-icon,
.counter-box-4 .fact-body{
    display: table-cell;
    vertical-align: middle;
}

.counter-box-4 .fact-body{
    padding-left: 25px;
}

.counter-box-4 .fact-body .fact-count{
    font-family: 'Volkhov', serif;
    color: #1696e7;
    font-size: 34px;
}

.counter-box-4 .fact-body .heading{
    margin: 0px;
}

/* Progress Box */

.progress-box-1{
    text-align: center;
}

.progress-box-1 .circle{
    text-align: center;
    position: relative;
}

.progress-box-1 .circle strong{
    position: absolute;
    left: 50%;
    top:50%;
    font-size: 18px;
    color: #1696e7;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.progress-box-1 .heading{
    color: #1696e7;
}

/* Focus Box */

.focus-box-1{
    background-color: #1696e7;
    padding: 20px;
    color: #fff;
}

.focus-box-2{
    background-color: #f2f2f2;
    padding: 20px;
    color: #303b41;
}

.focus-box-3{
    background-color: #303b41;
    padding: 20px;
    color: #fff;
}

/* Health Tips */

.health-tips{
    background-image: url(../images/dos.png), url(../images/dont.png);
    background-position: left center, right center;
    background-size: 0%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.health-tips-1,
.health-tips-2{
    padding: 60px 20px;
}

.health-tips-1:before,
.health-tips-2:before{
    content: "";
    position: absolute;
    top:0px;
    height: 100%;
    width: 2000px;
    z-index: -1;
}

.health-tips-1:before{
    background-color: #1696e7;
    right: 0px;
}

.health-tips-2:before{
    background-color: #f7f7f7;
    left: 0px;
}

.health-tips-1 .heading{
    font-size: 30px;
    color: #fff;
    text-align: right;
}

.health-tips-2 .heading{
    font-size: 30px;
    color: #1696e7;
}

.health-tips-1 .tips{
    list-style: none;
    padding: 0px;
    text-align: right;
    color: #fff;
}

.health-tips-2 .tips{
    list-style: none;
    padding: 0px;
    text-align: left;
    color: #1696e7;
}

.health-tips-1 .tips p{
    margin-right: 80px;
}

.health-tips-2 .tips p{
    margin-left: 80px;    
}

.health-tips-1 .tips li,
.health-tips-2 .tips li
{
    padding: 10px 0px;
}

.health-tips-1 .tips li:last-child,
.health-tips-2 .tips li:last-child{
    padding-bottom: 0px;
}

.health-tips-1 .tips li .count,
.health-tips-2 .tips li .count{
    position:relative;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.health-tips-1 .tips li:hover .count,
.health-tips-2 .tips li:hover .count{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.health-tips-1 .tips li .count{
    float: right;
    margin-left: 20px;
    color: #1696e7;
    background-color: #fff;
}

.health-tips-2 .tips li .count{
    float: left;
    margin-right: 20px;
    color: #fff;
    background-color: #1696e7;
}

/* App download */

.app-download-light,
.app-download-dark{
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 0% center;
    background-size: 0%;
}

.app-download-dark{
    color: #fff;
}

.app-download-light .heading,
.app-download-dark .heading{
    margin-bottom: 10px;
}

.app-download-light .app-links,
.app-download-dark .app-links{
    list-style: none;
    overflow: hidden;
    padding: 10px 0px;
    margin: 0px;
}

.app-download-light .app-links li,
.app-download-dark .app-links li{
    float:left;
    margin: 5px 20px 5px 0px;
}

.app-download-light .app-links .btn-app,
.app-download-dark .app-links .btn-app{
    padding: 8px 12px;
    color: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.20);
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.app-download-light .app-links .btn-app{
    background-color: #1696e7;
}

.app-download-light .app-links .btn-app:hover{
    background-color: #106fab;
}

.app-download-dark .app-links .btn-app{
    background-color: #303b41;
}

.app-download-dark .app-links .btn-app:hover{
    background-color: #1a1a1a;
}

.app-download-light .app-links .btn-app .icon,
.app-download-light .app-links .btn-app .text,
.app-download-dark .app-links .btn-app .icon,
.app-download-dark .app-links .btn-app .text{
    display: table-cell;
    vertical-align: middle;
    padding: 4px 8px;
}

.app-download-light .app-links .btn-app .icon i,
.app-download-dark .app-links .btn-app .icon i{
    font-size: 34px;
}

.app-download-light .app-links .btn-app .text,
.app-download-dark .app-links .btn-app .text{
    font-size: 16px;
}

.app-download-light .app-links .btn-app .text .sub-text,
.app-download-dark .app-links .btn-app .text .sub-text{
    font-size: 10px;
    display: block;
    font-weight: 400;
}

/* Subscribe */

.subscribe{
    background-size: cover;
    background-position: center center;
}

/* Testimonials */

.testimonial-slider{
    text-align: center;
    margin: 20px 0px;
}

.testimonial-slider .testi-img{
    display: inline-block;
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 50px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 50%;
    border-bottom-right-radius: 5px;
}

.testimonial-slider .testi-img img{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.testimonial-slider .testi-heading{
    font-size: 24px;
    font-style: italic;
    position: relative;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

.testimonial-slider .testi-heading:before,
.testimonial-slider .testi-heading:after{
    content: '"';
    position:absolute;
    top:5px;
    color: #1696e7;
    font-size: 60px;
}

.testimonial-slider .testi-heading:before{
    left: 0px;
}

.testimonial-slider .testi-heading:after{
    right: 0px;
}

/* Gallery */

.img-box{
    margin: 20px 0px;
    position: relative;
    padding: 5px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    box-sizing: border-box;
}

.img-box .img-open{
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(22,150,231,0.80);
    display: block;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.img-box:hover .img-open{
    visibility: visible;
    opacity: 1;
}

.img-box .img-open i{
    color: #fff;
    position: absolute;
    font-size: 20px;
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Event */

.event-box{
    position: relative;
    background-position: center center;
    background-size: cover;
    min-height: 500px;
    margin: 20px 0px;
}

.event-box .event-header{
    position: absolute;
    width: 100%;
    background-color: rgba(22,150,231,0.80);
    padding: 20px 40px;
    bottom: 0px;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.event-box .event-header .heading{
    color: #fff;
}

.event-box .event-header .event-details{
    list-style: none;
    color: #fff;
    padding-left: 0px;
    font-size: 20px;
    margin: 0px;
}

.event-box .event-header .event-details li{
    margin: 5px 0px;
}

.event-box .event-text{
    max-height: 0px;
    color: #fff;
    overflow: hidden;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.event-box:hover .event-text{
    max-height: 200px;
}

/* Contact List */

.contact-list{
    list-style: none;
    padding: 0px;
    font-size: 16px;
}

.contact-list li{
    padding-bottom: 8px;
    overflow: hidden;
}

.contact-list li:last-child{
    margin-bottom: 0px;
}

.contact-list li i{
    float: left;
    font-size: 14px;
    color: #1696e7;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 12px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.contact-list-2x{
    font-size: 20px;
}

.contact-list-2x li i{
    font-size: 18px;
    height: 35px;
    width: 35px;
    line-height: 35px;
}

/* Social Media */

.social{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.social > li{
    display: inline-block;
    margin: 5px;
}

.social > li:first-child{
    margin-left: 0px;
}

.social > li a{
    position: relative;
    background-color: #1696e7;
    height: 25px;
    width: 25px;
    border-radius: 4px;
    text-align: center;
    line-height: 26px;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
    z-index: 1;
}

.social > li a:hover{
    background-color: #106fab;
}

.social-2x > li a{
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 42px;
}

.social-box{
    padding: 15px;
    text-align: center;
    background-color: #fff;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin: 20px 0px;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.social-box:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

.social-box > a{
    color: #1696e7;
    display: inline-block;
    text-align: center;
    font-size: 50px;
}

.social-box .count{
    display: block;
    font-size: 20px;
    color: #1696e7;
    font-weight: 600;
    letter-spacing: 1px;
}

/* Youtube Video */

.youtube{
    position: relative;
    width: 100%;
    min-height: 300px;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.youtube:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(22,150,231,0.60);
}

.youtube i{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 50px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: -25px;
    margin-left: -25px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.youtube:hover i{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#modal-video .modal-content{
    border: 0px;
}

#modal-video .modal-body{
    padding: 0px;
}

#modal-video .modal-body iframe{
    display: block;
}

/* Countdown Timer */

.timer{
    list-style: none;
    padding: 0px;
}

.timer li{
    display: inline-block;
    height: 120px;
    width: 120px;
    margin: 20px 5px 20px 0px;
    line-height: 115px;
    text-align: center;
    border: 2px solid #1696e7;
    color: #1696e7;
    border-radius: 50%;
}

.timer li span{
    font-size: 36px;
    display: inline-block;
}

/* Google Maps */

.gmap{
    height: 500px;
}

/* Google Map Address */

.gmap-address{
    overflow: hidden;
    position: relative;
}

.gmap-address .address{
    background-color: rgba(48,59,65,0.95);
    color: #fff;
    position: absolute;
    z-index: 10;
    padding:20px;
}

/* Back To Top */

#back{
    display: none;
    position: fixed;
    right: 25px;
    bottom: 20px;
    height: 40px;
    width: 40px;
    background-color: #1696e7;
    color: #fff;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    z-index: 99;
}

/* Footer 1 */

.footer-1{
    border-top: 6px solid #1696e7;
}

.footer-1 .footer-pri{
    background-color: #f2f2f2;
}

.footer-1 .footer-sec{
    background-color: #e5e5e5;
    padding: 25px 0px;
    text-align: center;
    color: #9c9c9c;
}

.footer-1 .widget{
    margin: 20px 0px;
    position: relative;
    color: #303b41;
    overflow:hidden;
}

.footer-1 .widget .heading{
    color: #303b41;
}

.footer-1 hr{
    border-color: rgba(0, 0, 0, 0.06);
}

.footer-1 .widget .contact{
    list-style: none;
    padding: 0px;
    font-size: 16px;
}

.footer-1 .widget .contact li{
    padding: 3px 0px;
}

.footer-1 .widget .contact li i{
    margin-right: 10px;
    color: #1696e7;
}

/* Icon Widget */

.footer-1 .widget-icon{
    position: relative;
    font-size: 26px;
    background-color: #1696e7;
    text-align: center;
    margin: 0px;
}

.footer-1 .widget-icon strong{
    color: #fff;
    display: block;
    font-size: 0.6em;
    margin-bottom: 8px;
}

.footer-1 .widget-icon i{
    color: rgba(255, 255, 255, 0.8);
    font-size: 1em;
    vertical-align: middle;
    margin-right: 6px;
}

.footer-1 .widget-icon span{
    color: rgba(255, 255, 255, 0.8);
    vertical-align: middle;
}

/* List Widget */

.footer-1 .widget-links ul{
    list-style: none;
    padding: 0px;
}

.footer-1 .widget-links ul li{
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative;
}

.footer-1 .widget-links ul li:before{
    font: normal normal normal 8px/1 FontAwesome;
    content: "\f10c";
    color: #1696e7;
    position: absolute;
    top: 9px;
    left: 0px;
    font-weight: 600;
}

.footer-1 .widget-links ul li a{
    color: #303b41;
    padding: 3px 5px;
    display: inline-block;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.footer-1 .widget-links ul li:hover a{
    color: #1696e7;
}

.footer-1 .widget-links ul li:hover:before{
    color: #1696e7;
}

/* Flickr Widget */

.footer-1 .widget-flickr ul{
    list-style: none;
    padding: 0px;
}

.footer-1 .widget-flickr ul li{
    float: left;
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    margin-bottom: 3%;
}

.footer-1 .widget-flickr ul li img{
    width:100%;
}

/* Message Widget */

.footer-1 .widget-message{
    position: relative;
    text-align: center;
    font-style: italic;
    margin-top: 0px;
    padding: 40px 0px;
    font-family: 'Volkhov', serif;
}

.footer-1 .widget-message:before{
    content: "\f10d";
    position: absolute;
    color: #e5e5e5;
    font: normal normal normal 100px/1 FontAwesome;
    left: 50%;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.footer-1 .widget-message:after{
    content: "";
    position: absolute;
    width: 20%;
    height: 1px;
    bottom: 0px;
    left: 50%;
    background-color: #d5d5d5;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.footer-1 .widget-message p{
    font-size: 22px;
    position: relative;
    max-width: 65%;
    margin: auto;
    text-align: center;
}

/* Twitter Widget */

.footer-1 .widget-twitter p{
    font-size: 18px;
    text-align: left;
}

/* Footer 2 */

.footer-2 .footer-pri{
    background-color: #22292d;
    padding: 0px 0px 40px;
}

.footer-2 .footer-sec{
    background-color: #1b2023;
    padding: 25px 0px;
    color: rgba(255, 255, 255, 0.20);
    text-align: center;
}

.footer-2 .widget{
    margin: 20px 0px;
    position: relative;
    overflow:hidden;
    color: rgba(255, 255, 255, 0.35);
}

.footer-2 .widget .heading{
    color: #1696e7;
}

.footer-2 .widget .contact{
    list-style: none;
    padding: 0px;
    font-size: 18px;
}

.footer-2 .widget .contact li{
    padding: 3px 0px;
}

.footer-2 .widget .contact li i{
    margin-right: 10px;
}

.footer-2 hr{
    border-color: rgba(255, 255, 255, 0.06);
}

/* Icon Widget */

.footer-2 .widget-icon{
    position: relative;
    font-size: 26px;
    background-color: #1696e7;
    text-align: center;
}

.footer-2 .widget-icon strong{
    color: #fff;
    display: block;
    font-size: 0.6em;
    margin-bottom: 8px;
}

.footer-2 .widget-icon i{
    color: rgba(255, 255, 255, 0.8);
    font-size: 1em;
    vertical-align: middle;
    margin-right: 6px;
}

.footer-2 .widget-icon span{
    color: rgba(255, 255, 255, 0.8);
    vertical-align: middle;
}

/* List Widget */

.footer-2 .widget-links ul{
    list-style: none;
    padding: 0px;
}

.footer-2 .widget-links ul li{
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative;
}

.footer-2 .widget-links ul li:before{
    font: normal normal normal 8px/1 FontAwesome;
    content: "\f10c";
    color: rgba(255, 255, 255, 0.35);
    position: absolute;
    top: 9px;
    left: 0px;
    font-weight: 600;
}

.footer-2 .widget-links ul li a{
    color: rgba(255, 255, 255, 0.35);
    padding: 3px 5px;
    display: inline-block;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.footer-2 .widget-links ul li:hover a{
    color: #1696e7;
}

.footer-2 .widget-links ul li:hover:before{
    color: #1696e7;
}

/* Flickr Widget */

.footer-2 .widget-flickr ul{
    list-style: none;
    padding: 0px;
}

.footer-2 .widget-flickr ul li{
    float: left;
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    margin-bottom: 3%;
}

.footer-2 .widget-flickr ul li img{
    width:100%;
}

/* Twitter Widget */

.footer-2 .widget-twitter p{
    font-size: 18px;
}

/* Message Widget */

.footer-2 .widget-message{
    position: relative;
    text-align: center;
    font-style: italic;
    margin-top: 0px;
    padding: 30px 0px;
    font-family: 'Volkhov', serif;
}

.footer-2 .widget-message:before{
    content: "\f10d";
    position: absolute;
    color: #303a40;
    font: normal normal normal 100px/1 FontAwesome;
    left: 50%;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.footer-2 .widget-message:after{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0px;
    left: 50%;
    background-color: #303a40;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.footer-2 .widget-message p{
    font-size: 22px;
    position: relative;
    max-width: 65%;
    margin: auto;
}

/* Footer 3 */

.footer-3 .footer-pri{
    background-color: #22292d;
}

.footer-3 .footer-sec{
    background-color: #1b2023;
    padding: 25px 0px;
    color: rgba(255, 255, 255, 0.20);
    text-align: center;
}

.footer-3 .widget{
    margin: 20px 0px;
    position: relative;
    overflow:hidden;
    color: rgba(255, 255, 255, 0.35);
}

.footer-3 .widget .heading{
    color: #1696e7;
}

.footer-3 .widget .contact{
    list-style: none;
    padding: 0px;
    font-size: 18px;
}

.footer-3 .widget .contact li{
    padding: 3px 0px;
    display: inline-block;
    margin: 0px 10px;
}

.footer-3 .widget .contact li i{
    margin-right: 5px;
    color: #1696e7;
}

/*******************************/
/********* Blog CSS *********/
/*******************************/

.blog-box{
    border: 6px solid #f2f2f2;
    padding: 20px;
    margin: 20px 0px;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.blog-box .blog-header{
    position: relative;
}

.blog-box .blog-meta{
    overflow: hidden;
}

.blog-box .blog-meta .meta-list{
    list-style: none;
    padding-left: 0px;
}

.blog-box .blog-meta .meta-list > li{
    float: left;
    margin-right: 10px;
}

.blog-box .blog-meta .meta-list > li a{
    color: #d5d5d5;
}

.blog-box .blog-meta .meta-list > li a:hover{
    color: #1696e7;
}

.blog-box .blog-meta .meta-list > .posted-on a,
.blog-box .blog-meta .meta-list > .posted-by a,
.blog-box .blog-meta .meta-list > .posted-in a
{
    color: #1696e7;
    font-weight: 400;
}

.blog-box:hover{
    border-color: #1696e7;
}

/* Blog Single & Blog List */

.blog-single .blog-box:first-child,
.blog-list .blog-box:first-child{
    margin-top: 0px;
}

.blog-single .blog-box .blog-header .heading,
.blog-list .blog-box .blog-header .heading{
    margin-top: 30px;
    margin-bottom: 20px;
}

.blog-single .blog-box .blog-meta .meta-list,
.blog-single .blog-box .blog-meta .meta-list{
    font-size: 16px;
}

.blog-single .blog-box:hover{
    border-color: #f2f2f2;
}

.blog-author{
    margin-top: 20px;
    border: 6px solid #f2f2f2;
    padding: 20px;
    overflow: hidden;
}

.blog-author .author-media{
    float: left;
    text-align: center;
    margin-right: 20px;
}

.blog-author .author-media .author-img{
    margin-bottom: 15px;
}

.blog-author .author-meta .author-desig{
    background-color: #f2f2f2;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 12px;
}

.blog-comments{
    border: 6px solid #f2f2f2;
    padding: 20px;
    margin-top: 20px;
}

.blog-comments .comment-list{
    list-style: none;
    padding: 0px;
}

.blog-comments .comment-list .comment-list{
    margin-left: 40px;
}

.blog-comments > .comment-list > .comment{
    border-bottom: 1px solid #f2f2f2;
}

.blog-comments .comment-list .comment{
    padding: 20px 0px 10px;
}

.blog-comments .comment-media{
    float: left;
    margin-right: 20px;
    background-color: #f2f2f2;
    padding: 6px;
}

.blog-comments .who-said{
    font-family: 'Volkhov', serif;
    color: #1696e7;
    font-size: 16px;
}

.blog-comments .what-said{
    margin:5px 0px 8px 0px; 
}

.blog-comments .comment-list .comment-body{
    padding-left: 100px;
}

.write-comment{
    border: 6px solid #f2f2f2;
    padding: 20px;
    margin-top: 20px;
}

/* Sidebar Widgets */

.sidebar .widget{
    margin-bottom: 20px;
    padding: 20px;
    border: 6px solid #f2f2f2;
    overflow: hidden;
}

/* Categories Widget */

.widget-categories ul{
    list-style: none;
    padding: 0px;
}

.widget-categories .widget-list li{
    border-bottom: 1px solid #f2f2f2;
    position: relative;
}

.widget-categories .widget-list li:before{
    font: normal normal normal 8px/1 FontAwesome;
    content: "\f105";
    color: #1696e7;
    vertical-align: middle;
    line-height: 13px;
    font-size: 13px;
    height: 16px;
    width: 16px;
    border: 1px solid #1696e7;
    text-align: center;
    border-radius: 50%;
    left: 0px;
    position: absolute;
    top: 8px;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.widget-categories .widget-list li:hover:before{
    background-color: #1696e7;
    color: #fff;
}

.widget-categories .widget-list li a{
    padding: 7px 0px;
    font-weight: 600;
    padding-left: 30px;
    display: inline-block;
}

/* Tags Widget */

.widget-tags .widget-list{
    list-style: none;
    padding: 0px;
}

.widget-tags .widget-list li{
    float: left;
    margin:5px;
    overflow: hidden;
}

.widget-tags .widget-list li a{
    background-color: #f7f7f7;
    padding: 5px 10px;
    display: inline-block;
    font-weight: 400;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.widget-tags .widget-list li a:hover{
    background-color: #1696e7;
    color: #fff;
}

/* Recent Blog Widget */

.widget-blogs .widget-list{
    list-style: none;
    padding: 0px;
}

.widget-blogs .widget-list li{
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
    border-radius: 4px;
}

.widget-blogs .widget-list li:before{
    font: normal normal normal 8px/1 FontAwesome;
    content: "\f10c";
    color: #1696e7;
    left: 0px;
    font-weight: 600;
    position: absolute;
    top: 16px;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.widget-blogs .widget-list li:last-child{
    border: 0px;
    padding-bottom: 0px;
}

.widget-blogs .widget-list li a{
    font-weight: 600;
}

.widget-blogs .widget-list li p{
    font-size: 14px;
    margin-bottom: 0px;
}

.widget-blogs .widget-list li:hover{
    background-color: #f9f9f9;
}

/* Testimonial Widget */

.widget-testimonial .slider-items{
    text-align: center;
}

.widget-testimonial .slider-items .testi-img img{
    max-width: 90px;
    margin: auto;
}

.widget-testimonial .slider-items .testi-text i{
    display: block;
    font-size: 30px;
    color: #1696e7;
    margin: 15px 0px 10px;
}

.widget-testimonial .slider-items .said-by{
    color: #1696e7;
    margin-top: 5px;
    display: block;
    font-weight: 400;
}

/* Appointment Form Widget */

.widget-appointment{
    background-color: #1696e7;
}

.widget-appointment .heading{
    color: #fff;
}

/* Departments Widget */

.widget-departments ul{
    list-style: none;
    padding: 0px;
}

.widget-departments ul li{
    width: 48%;
    margin-right: 1%;
    margin-bottom: 2%;
    padding: 10px;
    display: inline-block;
    text-align: center;
    background-color: #f7f7f7;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.widget-departments ul li .list-icon{
    color: #1696e7;
    font-size: 30px;
    display: block;
}

.widget-departments ul li .list-text{
    font-weight: 400;
}

.widget-departments ul li:hover{
    background-color: #f5f5f5;
}

/* Doctors Widget */

.widget-doctors ul{
    list-style: none;
    padding: 0px;
}

.widget-doctors ul li{
    padding: 10px 0px;
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.widget-doctors ul li:first-child{
    padding-top: 0px;
}

.widget-doctors ul li:last-child{
    border:0;
}

.widget-doctors ul li img{
    max-height: 75px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.widget-doctors ul li .doctor-img,
.widget-doctors ul li .doctor-name{
    display: table-cell;
    vertical-align: middle;
}

.widget-doctors ul li .doctor-name a{
    display: block;
    font-weight: bold;
}

.widget-doctors ul li:hover{
    background-color: #f7f7f7;
}

/*******************************/
/*** Coming Soon & Not Found ***/
/*******************************/

.coming-soon{
    color: rgba(255, 255, 255, 0.8);
}

.coming-soon, .coming-soon > .container-fluid, .coming-soon > .container-fluid > .row{
    min-height: 100%;
    height: 100%;
}

.coming-soon .left-block, .coming-soon .right-block{
    min-height: 100%;
    padding: 40px;
}

.coming-soon .left-block{
    background-color: #303b41;
}

.coming-soon .right-block{
    background-color: #1696e7;
    background-repeat:no-repeat;
    background-position:right bottom;
}

.not-found{
    display: table;
    width: 80%;
    margin: auto;
    text-align: center;
}

.not-found .nf-icon i{
    color: #1696e7;
    font-size: 120px;
    height: 250px;
    width: 250px;
    border: 6px solid #f2f2f2;
    line-height: 250px;
    text-align: center;
    border-radius: 50%;
}

.not-found .nf-text .heading{
    font-size: 170px;
    margin-bottom: 0px;
}

.not-found .nf-text p{
    text-align: center;
}

/*******************************/
/*********** Plugins ***********/
/*******************************/

/* Owl Carousel */

/* Common Owl Carousel CSS */

.slider-nav{
    text-align: center;
    margin-top: 25px;
}

.slider-nav .left,
.slider-nav .right{
    position: relative;
    background-color: #1696e7;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
    margin: 0px 3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.slider-nav .left:hover,
.slider-nav .right:hover{
    background-color: #106fab;
}

/* Logo Slider */

.logo-slider .owl-item{
    padding: 20px;
    border: 6px solid #f2f2f2;
}

/* News Slider */

.news-slider.style-1{
    background-color: #1696e7;
    padding: 40px;
}

.news-slider.style-1 .heading{
    color: #fff;
}

.news-slider.style-1 p{
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0px;
}

.news-slider.style-2{
    background-color: #f2f2f2;
    padding: 40px;
}

.news-slider.style-2 .heading{
    color: #1696e7;
}

.news-slider.style-2 p{
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 0px;
}

.news-slider.style-3{
    background-color: #303b41;
    padding: 40px;
}

.news-slider.style-3 .heading{
    color: #fff;
}

.news-slider.style-3 p{
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0px;
}

/* Bootstrap Carousel */

.carousel-caption .heading{
    color: #fff;
}

.carousel-indicators li{
    border-width: 2px;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
    vertical-align: middle;
    margin: 1px 2px;
}

.carousel-indicators .active{
    background-color: #1696e7;
}

.carousel-control{
    top:50%;
    margin: -17px 15px 0px 15px;
}

.carousel-control.left, 
.carousel-control.right{
    background: #1696e7;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    opacity: 1;
}

.carousel-inner>.item>a>img, 
.carousel-inner>.item>img{
    width: 100%;
}

/* Date Picker */

.ui-datepicker-trigger{
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f073";
    position: absolute;
    top: 50%;
    right: 5px;
    background-color: transparent;
    border: 0px;
    margin-top: -12px;
}

.ui-datepicker-trigger:focus{
    outline: 0px;
}

.ui-datepicker {
	width: 250px;
	height: auto;
	margin: 5px auto 0;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999 !important;
}

/* DatePicker Table */

.ui-datepicker table {
	width: 100%;
    background-color: #fff;
    padding: 6px;
}

.ui-datepicker-header {
	background-color: #303b41;
	color: #fff;
	font-weight: bold;
    padding: 10px;
    line-height: 30px;
}
.ui-datepicker-title {
	text-align: center;
}
.ui-datepicker-prev, .ui-datepicker-next {
    font:  normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    line-height: 30px;
    overflow: hidden;
    position: relative;
}

.ui-icon-circle-triangle-w,
.ui-icon-circle-triangle-e{
    display: none;
}

.ui-datepicker-prev{
    float: left;
}

.ui-datepicker-next{
    float: right;
}

.ui-datepicker-prev:before,
.ui-datepicker-next:before{
    font-size: 20px;
    height: 100%;
    width: 100%;
    text-align: center;
}

.ui-datepicker-prev:before {
    content: "\f104";
    position: absolute;
    left: 0px;
}
.ui-datepicker-next:before {
    content: "\f105";
    position: absolute;
    right: 0px;
}

.ui-datepicker th {
	text-transform: uppercase;
	font-size: 12px;
    font-weight: 300;
    text-align: center;
    padding: 5px 0;
    color: rgba(255, 255, 255, 0.8);
}

.ui-datepicker tbody td {
	padding: 2px;
	border-right: 1px solid #fff;
    border-bottom: 2px solid #fff;
}
.ui-datepicker tbody td:last-child {
	border-right: 0px;
}
.ui-datepicker tbody tr {
	border-bottom: 1px solid #f2f2f2;
}
.ui-datepicker tbody tr:last-child {
	border-bottom: 0px;
}
.ui-datepicker td span, .ui-datepicker td a {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #303b41;
}
.ui-datepicker-calendar .ui-state-default {
	background: #f2f2f2;
}
.ui-datepicker-calendar .ui-state-hover {
	background: #1696e7;
    color: #fff;
}
.ui-datepicker-calendar .ui-state-active {
	background: #1696e7;
	color: #fff;
	position: relative;
}
.ui-datepicker-unselectable .ui-state-default {
	background-color: #fff;
	color: #d5d5d5;
}
.ui-datepicker-calendar td:first-child .ui-state-active {
	width: 29px;
	margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
	width: 29px;
	margin-right: 0;
}
.ui-datepicker-calendar tr:last-child .ui-state-active {
	height: 29px;
	margin-bottom: 0;
}

/* Bootstrap Select */

.bootstrap-select{
    width: 100% !important;
}

.bootstrap-select .dropdown-toggle{
    background-color: #fafafa;
    border: 1px solid #e5e5e5 !important;
    border-radius: 4px !important;
    color: #919191;
    padding: 10px 12px;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: none;
}

.bootstrap-select .dropdown-toggle:hover,
.bootstrap-select .dropdown-toggle:active,
.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select .dropdown-toggle:active:focus,
.bootstrap-select .dropdown-toggle:active:hover{
    background-color: #fafafa !important;
    color: #919191;
    outline: none !important;
}

/* Slider Revolution */

.rev_slider_wrapper{
	overflow:hidden !important;
}

/**********************/
/***** Mobile CSS *****/
/**********************/

/* Large Devices, Dektops */
@media only screen and (min-width: 1200px){
    .coming-soon .left-block,
    .coming-soon .right-block{
      padding:80px;
  }
}

/* Medium Devices, Laptops */
@media only screen and (min-width: 992px){

    .header-2{
        position: absolute;
    }
    
    .health-tips{
        background-size: contain;
    }

    .coming-soon .left-block, .coming-soon .right-block{
        float: none;
        display: table-cell;
        vertical-align: top;
        height: 100vh;
    }

    .flex-row{display: flex;}

    .valign-center{align-self: center;}
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px){

    .p20{padding:20px;}
    .p40{padding:40px;}
    .p60{padding:60px;}
    .p80{padding:80px;}
    .p100{padding:100px;}
    
    .header-1 .topbar .contact,
    .header-2 .topbar .contact,
    .header-3 .topbar .contact{
        width: inherit;
        float: right;
        text-align: right;
    }
    
    .header-1 .topbar .social,
    .header-2 .topbar .social,
    .header-3 .topbar .social{
        width: inherit;
        float: left;
        text-align: left;
    }
    
    .header-1 .emergency{
        padding: 18px 0px 18px 18px;
    }
    
    .header-3 .emergency{
        padding: 18px 0px 18px 18px;
    }
    
    .flex{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .not-found .nf-icon{
        text-align: right;
    }
    
    .not-found .nf-icon,
    .not-found .nf-text{
        display: table-cell;
        vertical-align: middle;
    }
    
    #fixed-appointment{
        display: block;
    }
    
    .app-download-light,
    .app-download-dark{
        background-size: 42%;
    }
    
    .call-out-1 .right,
    .call-out-1 .left{
      text-align:left;
  }
  
  .call-out-1 .right i,
  .call-out-1 .right .call-us{
     display: table-cell;
     vertical-align: middle;
 }

 .call-out-1:after{
  width:50%;
  left:50%;
}

.gmap-address .address{
 top:50%;
 left: 50px;
 padding: 500px 50px;
 -webkit-transform: translateY(-50%);
 transform: translateY(-50%);
}
}

/* Small Devices, Phones */
@media only screen and (min-width: 460px){
	
	.pricing-box-2 .header{
		padding-left:0px;
	}
	
	.pricing-box-2 .header,
	.pricing-box-2 .body{
		display:table-cell;
	}
}

.text-center{
    text-align: center;
}